body {
  background-color: black;
}

div.container {
  position: relative;
}

div.screen {
  background-color: rgba(0, 0, 0, 0.6);
  width: 25em;
  height: 10em;
  text-align: center;
  position: absolute;
  left: 14%;
  top: 20%;
  color: white;
}

.hide {
  display: none;
}

div#panel {
  color: white;
  font-size: 20px;
}

div#panel span {
  margin-left: 50px;
}

canvas#mCanvas {
  background-color: burlywood;
  padding: 0;
  margin: 0;
}
